:root {
    --color-white: #ffffff;
    --color-bg-color: #d9d9d9;
    --color-primary: #7c69a4;
    --color-dark-text: #4e3969;
    --color-black: #282529;
    --color-contrast: #fa961a;
    --color-icon-red: #ea5556;
    --color-icon-blue: #2871f0;
}

/*   reset    */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*   generals   */

.debug {
    border: 1px solid red;
}

body {
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

img {
    width: 100%;
}

h1 {
    color: var(--color-contrast);
    font-family: "Nerko One", cursive;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    text-transform: uppercase;
    font-size: 3em;
}

ul {
    list-style: none;
}

/*  backgrounds  */

.bg-white {
    background-color: var(--color-white);
}

.bg-primary {
    background-color: var(--color-primary);
}

/*   text   */

.text-white {
    color: var(--color-white);
}

.text-dark {
    color: var(--color-dark-text);
}

.text-bold {
    font-weight: bold;
}

/*   flex utilities   */

.d-flex {
    display: flex;
}

.j-center {
    justify-content: center;
}

.a-center {
    align-items: center;
}

.d-none {
    display: none;
}

/*    page    */

.container {
    max-width: 1080px;
    margin: 0 auto;
}

header,
footer {
    min-height: 70px;
    padding: 20px;
}

header a {
    text-decoration: none;
}

main {
    background-color: var(--color-bg-color);
    padding: 20px;
}

h2 {
    font-size: 2em;
}

h3 {
    text-transform: uppercase;
    color: var(--color-black);
    font-weight: lighter;
}

/*  media query  */

@media screen and (min-width:576px) {
}


@media screen and (min-width:768px) {
    main {
        padding: 40px;
    }
    
    header .j-space-between {
        justify-content: space-between;
    }

    .d-block {
        display: block;
    }

    #first-section ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
}


@media screen and (min-width: 1024px) {
    .j-space-between {
        justify-content: space-between;
    }

    .w-70 {
        width: 70%;
    }
   
    .w-30 {
        width: 30%;
    }

    #first-section {
        display: flex;
    }

    #first-section ul {
        display: block;
    }
}